venv/
uploads/
logs/
secrets/
output/
input/
images/
data/
LICENSE
LICENSE_HEADER
README.md
Dockerfile
compose.yml
services/onedrive/data
services/onedrive/conf
services/onedrive/logs
!services/onedrive/conf/config
!services/onedrive/conf/sync_list
src/imarina.egg-info
